.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: white;
    display: flex;
    font-size: calc(10px + 2vmin);
    min-height: 5vh;
    color: black;
}

.sponsor_content {
    background-color: gray;
 
    color: white;
}

.Sponsor {
    margin: 2%;
}

.SponsorCarousel {
    margin: 2%;
}

.SponsorCarousel img {
    width: auto;
    height: 500px;
}

.LogoText {
    text-align: left;
    padding: 2%;
    font-size: 1.4rem;
}

.TabContainer {
    padding: 2%;
}

.NavBtns {
    cursor: pointer;
    text-align: center;
}

.NavBtns span {
    font-size: 2rem;
}

.Home {
    margin: 2%;
}

.Gallery {
    margin: 2%;
}



.Contact {
    height: 100%;
    margin: 2%;
}

.Donate {
    margin: 2%;
}

Footer {
    margin: 2% 0;
}

.FooterText {
    font-size: .5rem;
}