.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: white;
    display: flex;
    font-size: calc(10px + 2vmin);
    min-height: 5vh;
    color: black;
}

.LogoText {
    text-align: left;
    padding: 2%;
    font-size: 1.4rem;
}

.TabContainer {
    padding: 2%;
}

.NavBtns {
    cursor: pointer;
}

.NavContainer {
    display: flex;
}

.Home {
    margin: 2%;
}

.Gallery {
    margin: 2%;
}

.Contact {
    height: 100%;
    margin: 2%;
}

.Donate {
    margin: 2%;
}

.FooterText {
    font-size: .5rem;
}